 @charset "utf-8";
body{
    background-color: blanchedalmond;
    font-family: sans-serif;
    font-size: 20px;
}
    h1{
        color: brown;
        background-color: goldenrod;
    }
    h2{
        color: crimson;
    }
    p{
        text-align: justify;
    }
