@charset "UTF-8";
body{
    background-color: rgb(135, 226, 166);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(8, 107, 53);
    

}
h1#principal{
    text-align: center;
    background-color:rgb(8, 107, 53);
    color: aliceblue;
}
h2{
    color: rgb(4, 58, 31);

}
.basico{
color: 8, 107, 53
;
}
.intermediario{
    color: chocolate;

}
.avancado{
    color: crimson;

}
.destaque{
    background-color: hwb(25 12% 18% / 0.466);
}