@charset "UTF-8";
* {
    
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #123859,#6AC4D9);
    }
main{
    background-color:white ;
    box-shadow: 5px 10px 15px #123859;
    border-radius: 8px;
    width: 600px;
    padding: 10px;
    margin: auto;
    
    
}
h1{
    text-shadow: 1px 1px 2px #010a11 ;
    text-align: center;
    color: #123859;

}
h2{
    color: #448AA6
    ;

}